html {
  height: 100%;
  font-weight: bold;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #303030; /* This should not neccesarily be visable */
  font-family: Poppins, sans-serif;
}
 ::placeholder {
  color: black;
  opacity: 0.7;
  }

:-ms-input-placeholder { 
 color:  black;
  opacity: 0.7;
}

::-ms-input-placeholder { 
 color:  black;
  opacity: 0.7;
}
.search,
.sort {
  font-size: 35px;
  color: #FFF;
  font-weight: bold;
  font-family: Poppins, sans-serif;
  background-color: #4a8150;
  width: 90%;
  padding-left: 20px;
}

.search-bar{
  height: 5vh; 
  font-size: 30px;
  width: 97.5%;
  background: #dbffdb;
}

.content {
  margin-left: 220px;
  padding: 20px;
}

.container {  
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr;
  grid-template-rows: 0.3fr 1.7fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Side-Bar Categories Categories"
    "Side-Bar Main-View Main-View"
    "Side-Bar Main-View Main-View";
  background-color: #525252;
  height: 100vh;
}

.mainview { 
  grid-area: Main-View;
  width: 100%; 
  height: 100%;
  background-color: #2F5233;
  overflow: auto;
}

.categories { 
  grid-area: Categories; 
  width: 100%; 
  height: 100%; 
  background-color: #696969;
  align-items: stretch;
}

.sidebar { 
  grid-area: Side-Bar; 
  width: 100%; 
  height: 100%;
  background-color:#4a8150;
}

.title{
  color: #FFF;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 5vw;
  margin-bottom: 10px; /* adjust this value as needed */
}

.begin-title{
  color: #FFF;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 2vw;
}

.icon {
  display: block;
  width: 20vw;
  height: 20vw;
  margin: 0 auto;
  text-align: center;
}

#button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* the button itself*/
.category-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8; /* change this later, probably  no background */
  border: none;
  padding: 0px;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

/* if the button is not selected and being hovered */
.category-button:not(.selected):hover{
  background-color:#2F5233;
  color: white;
}

/* if the button is not selected and being hovered */
.category-button:not(.selected):hover .inverted {
  filter: invert(100%);
}

/* if the button is selected */
.category-button.selected {
  background-color:#2F5233;
  color: white;
}

/* if the button is selected and not being hovered */
.category-button.selected:not(.hover) .inverted {
  filter: invert(100%);
}



/* if the button is not selected and being hovered */
.sort-img-icons:not(.selected):hover{
  color: white;
}

/* if the button is not selected and being hovered */
.sort-img-icons:not(.selected):hover .inverted {
  filter: invert(100%);
}

/* if the button is selected */
.sort-img-icons.selected {
  background-color: #2F5233;
  color: white;
}

/* if the button is selected and not being hovered */
.sort-img-icons.selected:not(.hover) .inverted {
  filter: invert(100%);
}

/* image on the button */
.category-button img {
  width: 4vw;
  height: 4vw;
  margin-bottom: 0px;
}

.category-text {
  padding-right: 5%;
  font-size: 2vw;
}

.image-and-text {
  padding-bottom: 20px;
}

.top-left-image {
  display: inline-block;
  vertical-align: middle;

  /* this is for the image */
  width: 3vw;
  height: 3vw;
  margin-right: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

.top-left-text {
  display: inline-block;
  vertical-align: middle;
  padding-top: 20px;
  font-size: 1.4vw;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.sidelist {
  font-size: 2vw;
  list-style: none;
}

.sidelist li {
  margin-bottom: 10px;
  font-size: 2vw;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidelist li img {
  float: right;
  width: 3vw;
  height: 3vw;
}

.hidden{
  display: none;
}

.sort-img-icons {
  width: 3vw;
  height: 3vw;
  flex-direction: row;
  padding-right: 1vw;
  float: right;
}

.sort-text {
  font-size: 1.5vw;
  font-weight: bold;
  font-family: Poppins, sans-serif;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cart{
  padding-top: 5vh;
}

.cart-image{
  height: 2vw; 
  width: 2vw;
  float: right;
  padding-right: 2vw;
  filter: invert(100%);
}

.cart-text{
  padding-left: 20px;
  height: 20px; 
  font-size: 1.5vw;
  color: white;
}

.total-cost{
  padding-left: 20px;
  height: 20px; 
  font-size: 16px;
  color: white;
}

.grid-container {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
  background-color: #B1D8B7;
  border-radius: 0.5rem;
}

.grid-item img {
  padding: 20px;
  height: auto;
}
